@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');


#panel {
   width: 650px;
   height: 1250px;
   margin: 0 auto;
   background-color: #ffffff;
   border-radius: 15px;
   -webkit-border-radius: 15px;
   border-style: solid;
   border-width: 1.5pt;
   border-color: #8da8bf;
   overflow: hidden;
}

#header {
   /*box-sizing: border-box;*/
   height: 175px;
   /*position: absolute;*/
   /*z-index: 1;*/
   /*border-radius: 15px;*/
   /*-webkit-border-radius: 15px;*/
   background-color: #45b7e6;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   font-size: 26px;
   padding: 70px 25px 0px 75px;
   /*border-style: solid;*/
   /*border-bottom-width: 1.5pt;*/
   /*border-radius: 15px;*/
   /*-webkit-border-radius: 15px;*/
   border-bottom: solid #ff0000;
   border-width: 1.5pt;
   border-color: #8da8bf;
}

#header > #headline {
   float: left;
   color: #ffffff;
   text-transform: uppercase;
}

#header > #infoToggler {
   float: right;
   background-color: transparent;
}

#header #infoToggler img {
   width: 26px;
   height: 26px;
}


#search {
   padding: 10px;
   float: right;
   clear: both;
}

#news {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
}

.oneNews {
   clear: both;
   padding: 20px 75px;
   font-size: 13px;
}

.newImage {
   background-image: url('../images/NEW_icon.png');
   background-repeat: no-repeat;
   background-position: 10px 10px;
}

.readImage {
   margin-left: 10px;
   margin-right: 10px;
   display: inline;
   width: 13px;
   height: 13px;
}

.oneNews:hover {
   background-color: #c4ece4;
}

.newsTitle a {
   color: #555555;
   font-weight: 600;
   text-decoration: underline;
}

.newsContent {
  color: #555555;
}

.newsContent .dataImage {
   float: left;
   clear: both;
   padding-top: 10px;
   margin-right: 10px;
}

.newsContent p .data {
   float: right;
}
