@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body {
  margin: 0 auto;
  height: 1300px;
}

#panel {
  width: 650px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  border-style: solid;
  border-width: 1.5pt;
  border-color: #8da8bf;
  overflow: hidden;
  box-sizing: border-box;
}

.panelHeight {
  height: 1250px;
}

#header {
  height: 175px;
  background-color: #45b7e6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.bottomRadius {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.headpos {
  color: #ffffff;
  font-size: 26px;
  text-transform: uppercase;
  vertical-align: text-top;

}

#headline {
  float: left;
  padding-top: 70px;
  padding-left: 75px;
}

#infoToggler {
  float: right;
  padding-top: 70px;
  padding-right: 25px;
}

#search {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding: 10px;
  float: right;
  clear: both;
}

#news {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.oneNews {
  clear: both;
  padding: 20px 75px;
  font-size: 13px;
}

.newImage {
  background-image: url('../images/NEW_icon.png');
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

.readImage {
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
  width: 13px;
  height: 13px;
}

.oneNews:hover {
  background-color: #c4ece4;
}

.newsTitle a {
  color: #555555;
  font-weight: 600;
  text-decoration: underline;
}

.newsContent {
  color: #555555;
}

.newsContent .dataImage {
  float: left;
  clear: both;
  padding-top: 10px;
  margin-right: 10px;
}

.newsContent p .data {
  float: right;
}
